html {
	font-family: Arial, sans-serif;
}

nav {
	font-size: 25px;	
	background-color: rgb(238, 238, 238);
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;	
	text-align: right;
	border-bottom: 1px rgb(221, 221, 221) solid;
}

body {	
	font-size: 17px;	
}

nav span {
	word-spacing: 15px;
}

a:link {
	color: rgb(85, 26, 139);
}

.title {
	float: left;	
}

nav a {
	text-decoration: none;
}

body label {
	font-size: 20px;
}

main {
	padding-left: 100px;
	padding-top: 30px;
}

span {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

section span {
	border-width: 1px;
	border-style: solid;
	border-color: LightGrey;
	border-radius: 3px;	
}

.search-box {	
	width: 400px;
	height: 30px;
	font-size: 20px;
	padding-left: 5px;
}

.magnifying-glass {	
	width: 30px;	
}

.search-box, .magnifying-glass {
	border-width: 1px;
	border-style: solid;
	border-color: LightGrey;
	border-radius: 5px;	
}

ul {
	list-style-type: none;
	color: Grey;	
	position: left;
	margin: 0;
	padding: 0;
}

ul a {
	text-decoration: none;
	font-weight: bold;
}

form, section {
	padding-bottom: 20px;	
}

li {
	padding-top: 10px;
}